version: "3.8"

services:
  influxdb:
    container_name: mdt_influxdb
    build: ./influxdb
    networks:
      - mdt_network
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=mdt_db
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin

  telegraf:
    container_name: mdt_telegraf
    build: ./telegraf
    networks:
      - mdt_network
    ports:
      - "57000:57000"
    volumes:
      - ./telegraf/data:/home
    depends_on:
      - influxdb
    environment:
      - DB_URL=http://mdt_influxdb:8086
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
      - DB_DATABASE=mdt_db
      - SERVICE_ADDRESS=mdt_telegraf:57000

  grafana:
    container_name: grafana
    build: ./grafana
    networks:
      - mdt_network
    ports:
      - "3000:3000"

networks:
  mdt_network:
