version: "3.8"

services:
  influxdb:
    container_name: mdt_influxdb
    build: ./influxdb
    networks:
      - mdt_network
#not necessary here, for external host calling influxdb api usecase
    ports:
      - "8086:8086"
    env_file:
      - var.env

  telegraf:
    container_name: mdt_telegraf
    build: ./telegraf
    networks:
      - mdt_network
    ports:
      - "57000:57000"
    volumes:
      - ./telegraf/data:/home
    depends_on:
      - influxdb
    env_file:
      - var.env

  grafana:
    container_name: grafana
    build: ./grafana
    networks:
      - mdt_network
    ports:
      - "3000:3000"

networks:
  mdt_network:
